.form {
    width: 50vw;
    margin: 0 auto;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 5px;
}

.btnSubmit {
    width: 50%;
    margin: 0 auto;
    margin-top: 3vh;
}

a.nav-link {
    color: rgb(255, 255, 255) !important;
    margin-left: 5%;
}

a.navbar-brand {
    color: rgb(255, 255, 255) !important;
}